<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Edit with WASMagick</string>
	<key>CFBundleIdentifier</key>
	<string>com.wasmagick.finder-action</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Edit with WASMagick</string>
			</dict>
			<key>NSMessage</key>
			<string>runWorkflowAsService</string>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.png</string>
				<string>public.jpeg</string>
				<string>com.compuserve.gif</string>
				<string>public.tiff</string>
				<string>com.microsoft.bmp</string>
				<string>org.webmproject.webp</string>
				<string>public.heic</string>
				<string>public.heif</string>
				<string>public.svg-image</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
